<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title th:text="${title}"></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form class="form-signin" method="post" th:action="@{/login}">
                    <h1>Leave Module - Login</h1>
                    <div th:if="${param.error}">
                        <div class="alert alert-error">
                            <i>Invalid username and password.</i>
                        </div>
                        <div class="separator"></div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success">
                            <i>You have been logged out.</i>
                        </div>
                        <div class="separator"></div>
                    </div>
                    <div>
                        <input class="form-control" name="username" placeholder="Username" required="required"
                               type="text"/>
                    </div>
                    <div>
                        <input class="form-control" name="password" placeholder="Password" required="required"
                               type="password"/>
                    </div>
                    <div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <!--                        <p class="change_link">New to site?-->
                        <!--                            <a class="to_register" href="#signup"> Create Account </a>-->
                        <!--                        </p>-->

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <p>©2019 <span>Leave Module</span>. All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
</html>
