<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Employee | Manage</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Employee
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <form id="employeeQuery" class="form-horizontal form-label-left">
                            <div style="background-color: #F7F7F7;">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>Search...</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- employeeId-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeIdQuery" name="employeeId"
                                                   class="form-control" placeholder="Employee ID"/>
                                        </div>
                                    </div>
                                    <!-- employeeName-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeNameQuery" name="employeeName"
                                                   class="form-control" placeholder="Employee Name"/>
                                        </div>
                                    </div>
                                    <!-- projectCode-->
                                    <div class="form-group">
                                        <div>
                                            <input list="projectCodeList" type="text" id="projectCodeQuery" name="projectCode"
                                                   class="form-control" autocomplete="off" placeholder="Project Code"/>
                                            <datalist id="projectCodeList">
                                                <option th:each="project : ${projectList.object}" th:value="${project.projectCode}" th:label="${project.projectCode}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- projectName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="projectNameList" type="text" id="projectNameQuery" name="projectName"
                                                   class="form-control" autocomplete="off" placeholder="Project Name"/>
                                            <datalist id="projectNameList">
                                                <option th:each="project : ${projectList.object}" th:value="${project.projectName}" th:label="${project.projectName}">
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>.</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- clientName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="clientNameList" type="text" id="clientNameQuery" name="clientName"
                                                   class="form-control" autocomplete="off" placeholder="Client Name"/>
                                            <datalist id="clientNameList">
                                                <option th:each="client : ${clientList.object}" th:value="${client.clientName}" th:label="${client.clientName}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- clientCode-->
                                    <div class="form-group">
                                        <div>
                                            <input list="clientCodeList" type="text" id="clientCodeQuery" name="clientCode"
                                                   class="form-control" autocomplete="off" placeholder="Client Code"/>
                                            <datalist id="clientCodeList">
                                                <option th:each="client : ${clientList.object}" th:value="${client.clientCode}" th:label="${client.clientCode}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- groupCompany-->
                                    <div class="form-group">
                                        <div>
                                            <input list="groupCompanyList" type="text" id="groupCompanyQuery" name="groupCompany"
                                                   class="form-control" autocomplete="off" placeholder="Group Company"/>
                                            <datalist id="groupCompanyList">
                                                <option th:each="company : ${groupCompanyList.object}" th:value="${company}" th:label="${company}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                    <div class="checkbox">
                                        <input id="toggle-show-inactive" type="checkbox" checked data-toggle="toggle" data-on="Hide In-active" data-off="Show In-active" data-onstyle="success" data-offstyle="danger">
                                    </div>
                                </div>
                            </div>
                        </form>
                        </br>
                        <div class="x_title">
                            <h2>Manage Employee</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table id="maintable" class="table table-striped table-bordered">
                                </br>
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Employee ID</th>
                                    <th>Full Name</th>
                                    <th>Department, Position</th>
                                    <th>Group Company</th>
                                    <th>Contract Status</th>
                                    <th>Leave Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="employee, iterator : ${generalResponse.object}">
                                    <td><span th:text="${iterator.index + 1}">No.</span></td>
                                    <td><span th:text="${employee.employeeId}"> Employee ID </span></td>
                                    <td><span th:text="${employee.employeeName}"> Full Name </span></td>
                                    <td><span th:text="${employee?.departmentName + ', ' + employee?.jobTitle} ?: 'No Data'"> Department, Position </span></td>
                                    <td><span
                                            th:if="${employee.groupPayroll} != null and ${employee.groupPayroll.project} != null"
                                            th:text="${employee.groupPayroll.project.groupCompany} ?: 'No Data'"> Group Company </span>
                                    </td>
                                    <td>
                                        <div th:if="${employee.contractEndDate} != null and ${employee.contractStartDate} != null"
                                             th:switch="${employee.contractEndDate.after(#dates.createNow())
                                    && employee.contractStartDate.before(#dates.createNow())}">
                                        <span th:case="true">Valid</span>
                                        <span th:case="false">Expired</span>
                                    </div>
                                    <span th:if="${employee.contractEndDate} == null or ${employee.contractStartDate} == null">No Data</span>
                                    </td>
                                    <td><span
                                            th:text="(${employee.leaveActivationDate} != null and ${employee.leaveActivationDate.before(#dates.createNow())})  ? 'Active' : 'In-active'"> Leave Status </span>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs"
                                                th:id="${employee.id}" th:onclick="'javascript:viewUser(\'' + ${employee.id} +'\');'">Detail</button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- START OF MODAL -->
                <!-- view Balance Modal -->
                <div id="viewEmployeeModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Employee Leave Balances</h4>
                            </div>
                            <div class="x_content container">
                                <div style="background-color: #F7F7F7;">
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="x_title">
                                            <h2>Employee Details</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- employeeId-->
                                        <div class="form-group">
                                            <label class="control-label" for="employeeId">Employee ID</label>
                                            <div>
                                                <input readonly type="text" id="employeeId" name="employeeId" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- employeeName-->
                                        <div class="form-group">
                                            <label class="control-label" for="employeeName">Full Name</label>
                                            <div>
                                                <input readonly type="text" id="employeeName" name="employeeName" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- gender-->
                                        <div class="form-group">
                                            <label class="control-label" for="gender">Gender</label>
                                            <div>
                                                <input readonly type="text" id="gender" name="gender" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- groupName-->
                                        <div class="form-group">
                                            <label class="control-label" for="groupName">Payroll Group</label>
                                            <div>
                                                <input readonly type="text" id="groupName" name="groupName" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- projectName-->
                                        <div class="form-group">
                                            <label class="control-label" for="projectName">Project</label>
                                            <div>
                                                <input readonly type="text" id="projectName" name="projectName" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- clientName-->
                                        <div class="form-group">
                                            <label class="control-label" for="clientName">Client</label>
                                            <div>
                                                <input readonly type="text" id="clientName" name="clientName" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="x_title">
                                            <h2>Hiring Details</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- dateEnrolled-->
                                        <div class="form-group">
                                            <label class="control-label" for="dateEnrolled">Enrollment Date</label>
                                            <div>
                                                <input readonly type="text" id="dateEnrolled" name="dateEnrolled" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- probationEndDate-->
                                        <div class="form-group">
                                            <label class="control-label" for="probationEndDate">Probation End Date</label>
                                            <div>
                                                <input readonly type="text" id="probationEndDate" name="probationEndDate" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- contractDate-->
                                        <div class="form-group">
                                            <label class="control-label" for="contractDate">Contract Start-End</label>
                                            <div>
                                                <input readonly type="text" id="contractDate" name="contractDate" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- leaveActivationDate-->
                                        <div class="form-group">
                                            <label class="control-label" for="leaveActivationDate">Leave Activation Date</label>
                                            <div>
                                                <input readonly type="text" id="leaveActivationDate" name="leaveActivationDate" required="required"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div></br></br>

                                        <div id="viewModalHolder">No Leave Data, unable to draw Leave Table.</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit Balance Modal -->
                <div id="editBalanceModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Balance</h4>
                            </div>
                            <div class="x_content">
                                <br />
                                <!--START BALANCE UPDATE MODAL-->
                                <form id="formUpdateEmployeeBalance" class="form-horizontal form-label-left">

                                    <!-- Current Balance -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentBalance">Current Balance<span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <div class="input-group">
                                                <input type="text" id="currentBalance" required="required" class="form-control col-md-7 col-xs-12" readonly/>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Balance -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="adjustBalance">Adjust Amount<span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <div class="input-group">
                                                <input type="text" id="adjustBalance" name="amount" required="required" class="form-control col-md-7 col-xs-12" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="leaveBalanceId">Leave Balance ID<span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <div class="input-group">
                                                <input type="text" id="leaveBalanceId" name="id" required="required" class="form-control col-md-7 col-xs-12" readonly/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div id="errorMessageLeaveBalanceContainer" hidden="hidden">
                                            <div id="errorMessageLeaveBalance"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button id="btnDeductBalance" class="btn btn-success"> Deduct </button>
                                            <button id="btnAddBalance" class="btn btn-success"> Add </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="clsBttnEdit" type="button" class="btn btn-default"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- jQuery -->
        <script src="../js/form/employee_ajax_loader.js"></script>
        <!-- jQuery -->
        <script src="../js/form/employee_form.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../vendors/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_initiate.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>


</div></div></body>
</html>
