<!--START CONTENT FOR EMPLOYEE BALANCE-->
<div class="x_content" th:fragment="employeeBalanceTable">
<table th:if="${session.generalResponse.object != null}" id="employeeBalanceTable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Leave Balance ID</th>
        <th>Leave Type</th>
        <th>Balance</th>
        <th>Created Date</th>
        <th>Expired Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employeeBalance : ${session.generalResponse.object}">
        <td><span th:text="${employeeBalance.Id}"> Leave Balance Id </span></td>
        <td><span th:text="${employeeBalance.leaveType.leaveName}"> Leave Type </span></td>
        <td><span th:text="${employeeBalance.balance} ?: 'No Balance'"> Balance </span></td>
        <td><span th:text="${#dates.format(employeeBalance.createdDate, 'dd-MM-yyyy')}"> Created Date</span></td>
        <td><span th:text="${#dates.format(employeeBalance.expiredDate, 'dd-MM-yyyy')}"> Expired Date</span></td>
        <td><span th:text="${employeeBalance.leaveType.expired} ? 'EXPIRED' : 'ACTIVE'"> Status </span></td>
        <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editBalanceModal"
                     th:data1="${employeeBalance.balance}" th:id="${employeeBalance.id}">Edit</button>

        </td>
    </tr>
    </tbody>
</table>
    <span th:if="${session.generalResponse.object == null}" style="margin-left: auto; margin-right: auto;"><h3> No Leave Data, unable to render Leave Table.</h3></span>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#employeeBalanceTable').DataTable( {
                "columnDefs": [
                    { "searchable": false, "targets": 5}
                ],
                orderCellsTop: true,
                fixedHeader: true,
                autoWidth: true
            } );
        } );
    </script>
</div>

