<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Group Payroll | Binding List</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Group Payrolls
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                        </div>
                        <div class="x_content">
                            <table id="maintablebinding" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Group Code</th>
                                    <th>Group Name</th>
                                    <th>Project</th>
                                    <th>Client</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="grouppayroll : ${generalResponse.object}">
                                    <td><span th:text="${grouppayroll.groupCode}"> Group Code </span></td>
                                    <td><span th:text="${grouppayroll.groupName}"> Group Name </span></td>
                                    <td><span th:text="${grouppayroll.project.projectName}"> Project </span></td>
                                    <td><span th:text="${grouppayroll.project.client.clientName}"> Client </span></td>
                                    <td>

                                        <button type="button" class="btn btn-primary btn-xs" th:data1="${grouppayroll.id}" th:onclick="javascript:getTables(this.getAttribute('data1'));"
                                                data-toggle="modal" data-target="#bindModalGroupPayroll"
                                                th:id="${grouppayroll.id}">Bind</button>
                                        <button type="button" class="btn btn-primary btn-xs"
                                                data-toggle="modal" data-target="#addDefaultLeaveType"
                                                th:id="${grouppayroll.id}">Add Default</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- START OF MODAL -->
                <!-- Bind Modal -->
                <div id="bindModalGroupPayroll" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit</h4>
                            </div>
                            <div class="x_content" style="background-color: white;">
                                </br>
                                    <form id="formUpdateGroupPayroll" class="form-horizontal form-label-left">
                                        <!-- Group ID-->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupId">ID <span class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-10">
                                                <input readonly="readonly" type="text" id="groupId" name="id" required="required" class="form-control col-md-7 col-xs-12"/>
                                            </div>
                                        </div>
                                        <!-- Group Name-->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupName">Group Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-10">
                                                <input readonly="readonly" type="text" id="groupName" name="groupName" required="required" class="form-control col-md-7 col-xs-12"/>
                                            </div>
                                        </div>
                                        <!-- Group Code-->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupCode">Group Code <span class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-10">
                                                <input readonly="readonly" type="text" id="groupCode" name="groupCode" required="required" class="form-control col-md-7 col-xs-12"/>
                                            </div>
                                        </div>
                                        <!-- Project -->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project">Project <span class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-10">
                                                <input readonly="readonly" type="text" id="project" name="project" required="required" class="form-control col-md-7 col-xs-12"/>
                                            </div>
                                        </div>
                                        <!-- Leave Type -->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="defaultLeaveType">Default Leave Type <span class="required">*</span>
                                            </label>
                                            <div class="col-md-5 col-sm-5 col-xs-10">
                                                <div class="input-group">
                                                    <input readonly="readonly" type="text" id="defaultLeaveType" name="defaultLeaveType" required="required" class="form-control col-md-7 col-xs-12"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div>
                                            <span>Available For Binding</span></br>
                                            <div id="bindableLeaveTypes">
                                                <div id="bindableLeaveTypesHolder"></div>
                                            </div>

                                            <span>Current Bound Leave Types</span>
                                            <div id="formUpdateGroupPayrollLeaveTypes">
                                                <div id="tableHolder"></div>
                                                <button type="button" class="delete-row">Delete Items</button>
                                            </div>

                                            <br><div class="ln_solid"></div>
                                            <span>Past Leave Types</span>
                                            <div id="pastLeaveTypes">
                                                <div id="tableHolderPastLeaveTypes"></div>
                                            </div>

                                            <div class="form-group">
                                                <div id="errorMessageGroupPayrollContainer" hidden="hidden">
                                                    <div id="errorMessageGroupPayroll"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                    <button id="btnUpdateGroupPayrollSubmit" class="btn btn-success btn-block">
                                                        <span class="glyphicon glyphicon-send"></span> Save
                                                    </button>
                                            </div>

                                        </div>
                                    </form>
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Leave Type -->
                <div id="addDefaultLeaveType" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Default Leave Type</h4>
                            </div>
                            <div class="x_content" style="background-color: white;">
                                </br>
                                <div><form id="formAddDefaultLeaveType" class="form-horizontal form-label-left">
                                    <!-- Group ID-->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupIdX">ID <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <input readonly="readonly" type="text" id="groupIdX" name="id" required="required" class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <!-- Group Name-->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupNameX">Group Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <input readonly="readonly" type="text" id="groupNameX" name="groupName" required="required" class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <!-- Group Code-->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupCodeX">Group Code <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <input readonly="readonly" type="text" id="groupCodeX" name="groupCode" required="required" class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <!-- Project -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectX">Project <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <input readonly="readonly" type="text" id="projectX" name="project" required="required" class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <!-- Leave Type -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="defaultLeaveTypeX">Default Leave Type <span class="required">*</span>
                                        </label>
                                        <div class="col-md-5 col-sm-5 col-xs-10">
                                            <div class="input-group">
                                                <input readonly="readonly" type="text" id="defaultLeaveTypeX" required="required" class="form-control col-md-7 col-xs-12"/>
                                                <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lookUpLeaveTypeModal"> + </button></span>
                                                <input readonly="readonly" type="text" id="defaultLeaveTypeIdX" required="required" name="defaultLeaveType" class="form-control col-md-7 col-xs-12"/>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div id="errorMessageDefaultLeaveTypeContainer" hidden="hidden">
                                            <div id="errorMessageDefaultLeaveType"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" id="btnAddDefaultLeaveTypeSubmit" class="btn btn-success btn-block">
                                            <span class="glyphicon glyphicon-send"></span> Submit
                                        </button>
                                    </div>
                                </form></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- lookUpLeaveTypeModal -->
                <div id="lookUpLeaveTypeModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit</h4>
                            </div>
                            <div class="x_content">
                                <br />

                                <table id="leaveTypeTable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <!--<th>Group Payroll</th>-->
                                        <th>Leave Code</th>
                                        <th>Leave Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="leaveType : ${session.generalResponse.object}">
                                        <!--<td><span th:text="${leaveType.groupPayroll}"> Group Payroll </span></td>-->
                                        <td><span th:text="${leaveType.leaveCode}"> Leave Code </span></td>
                                        <td><span th:text="${leaveType.leaveName}"> Leave Name </span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" th:id="'addButton'" th:value="${leaveType.id}" th:data1="${leaveType.leaveName}"> + </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /page content -->

            </div>
        </div>
            </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- jQuery -->
        <script src="../js/form/group_payroll_form.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- jQuery -->
        <script src="../js/form/group_payroll_ajax_loader.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_grouppayroll.js"></script>



        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>

</div></body>
</html>
