<!--GROUP PAYROLL PAGE-->
<!--CONTENT FOR LEAVETYPE TABLE-->
<!--BINDABLE LEAVETYPES-->
<div th:fragment="bindableLeaveTypes">
    <table id="leaveTypesAddTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Leave Name</th>
            <th>Default Balance</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="leaveType : ${session.bindableLeaveTypes.object}">
            <td><span class="leaveTypeClass" th:text="${leaveType.id}"> Id </span></td>
            <td><span th:text="${leaveType.leaveName}"> Leave Name </span></td>
            <td><span th:text="${leaveType.defaultBalance}"> Default Balance </span></td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" th:id="'btnLeaveTypeAdd' + ${leaveType.leaveCode}"
                        th:data1="${leaveType.id}" th:data2="${leaveType.leaveName}"
                        th:data3="${leaveType.defaultBalance}"> +
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $("[id*='btnLeaveTypeAdd']").click(function () {
            var id = this.getAttribute('data1');
            var leavename = this.getAttribute('data2');
            var balance = this.getAttribute('data3');
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + id + "</td><td>" + leavename + "</td><td>" + balance + "</td></tr>";
            $('#leaveTypesTableBody').append(markup);
            $(this).parents("tr").hide();
        });
    </script>
</div>
<!--IDs-->
<div th:fragment="leaveTypesTable">
    <div class="form-group">
        <input readonly="readonly" type="hidden" id="leaveTypeIds" name="leaveTypeIds" required="required"
               class="form-control col-md-7 col-xs-12"/>
    </div>

    <table id="leaveTypesTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Select</th>
            <th>Id</th>
            <th>Leave Name</th>
            <th>Default Balance</th>

        </tr>
        </thead>
        <tbody id="leaveTypesTableBody">
        <tr th:each="leaveType : ${session.currentLeaveTypes.object}">

            <td></td>
            <td><span class="leaveTypeClass" th:text="${leaveType.id}"> Id </span></td>
            <td><span th:text="${leaveType.leaveName}"> Leave Type </span></td>
            <td><span th:text="${leaveType.defaultBalance}"> Default Balance </span></td>
        </tr>
        </tbody>
    </table>
</div>

<!--PAST LEAVE TYPES-->
<div th:fragment="pastLeaveTypesTable">

    <table id="pastLeaveTypesTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Leave Name</th>
            <th>Default Balance</th>

        </tr>
        </thead>
        <tbody id="PastLeaveTypesTableBody">
        <tr th:each="leaveType : ${session.pastLeaveTypes.object}">
            <td><span class="leaveTypeClass" th:text="${leaveType.id}"> Id </span></td>
            <td><span th:text="${leaveType.leaveName}"> Leave Type </span></td>
            <td><span th:text="${leaveType.defaultBalance}"> Default Balance </span></td>
        </tr>
        </tbody>
    </table>
</div>

<!--CONTENT FOR LEAVETYPE DROPDOWN-->
<div class="form-group" th:fragment="leaveTypeDropdown">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Leave Type <span
            class="required">*</span></label>
    <div class="col-md-3 col-sm-3 col-xs-5">
        <select class="form-control col-md-7 col-xs-12" name="leaveType">
            <option value="0">Select Leave Type</option>
            <option th:each="leaveType : ${session.generalResponse.object} ?: 'UNKNOWN'"
                    th:value="${leaveType.leaveName}" th:text="${leaveType.leaveName}"></option>
        </select>
    </div>
</div>

