<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>History | Leave Balance</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>History
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <form id="leaveBalanceHistoryQuery" class="form-horizontal form-label-left">
                            <div style="background-color: #F7F7F7;">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>Search...</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- employeeId-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeIdQuery" name="employeeId"
                                                   class="form-control" placeholder="Employee ID"/>
                                        </div>
                                    </div>
                                    <!-- employeeName-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeNameQuery" name="employeeName"
                                                   class="form-control" placeholder="Employee Name"/>
                                        </div>
                                    </div>
                                    <!-- projectCode-->
                                    <div class="form-group">
                                        <div>
                                            <input list="projectCodeList" type="text" id="projectCodeQuery" name="projectCode"
                                                   class="form-control" autocomplete="off" placeholder="Project Code"/>
                                            <datalist id="projectCodeList">
                                                <option th:each="project : ${projectList.object}" th:value="${project.projectCode}" th:label="${project.projectCode}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- projectName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="projectNameList" type="text" id="projectNameQuery" name="projectName"
                                                   class="form-control" autocomplete="off" placeholder="Project Name"/>
                                            <datalist id="projectNameList">
                                                <option th:each="project : ${projectList.object}" th:value="${project.projectName}" th:label="${project.projectName}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- clientName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="clientNameList" type="text" id="clientNameQuery" name="clientName"
                                                   class="form-control" autocomplete="off" placeholder="Client Name"/>
                                            <datalist id="clientNameList">
                                                <option th:each="client : ${clientList.object}" th:value="${client.clientName}" th:label="${client.clientName}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- clientCode-->
                                    <div class="form-group">
                                        <div>
                                            <input list="clientCodeList" type="text" id="clientCodeQuery" name="clientCode"
                                                   class="form-control" autocomplete="off" placeholder="Client Code"/>
                                            <datalist id="clientCodeList">
                                                <option th:each="client : ${clientList.object}" th:value="${client.clientCode}" th:label="${client.clientCode}">
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>.</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- groupCompany-->
                                    <div class="form-group">
                                        <div>
                                            <input list="groupCompanyList" type="text" id="groupCompanyQuery" name="groupCompany"
                                                   class="form-control" autocomplete="off" placeholder="Group Company"/>
                                            <datalist id="groupCompanyList">
                                                <option th:each="company : ${groupCompanyList.object}" th:value="${company}" th:label="${company}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- leaveName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="leaveNameList" type="text" id="leaveNameQuery" name="leaveName"
                                                   class="form-control" autocomplete="off" placeholder="Leave Name"/>
                                            <datalist id="leaveNameList">
                                                <option th:each="leaveName : ${leaveTypeList.object}" th:value="${leaveName.leaveName}" th:label="${leaveName.leaveName}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- expiredDate -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="expiredDateQuery" name="expiredDate"
                                                   class="form-control" placeholder="Expired Date"/>
                                        </div>
                                    </div>
                                    <!-- createdDate -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="createdDateQuery" name="createdDate"
                                                   class="form-control" placeholder="Removal Date"/>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                </div>
                            </div>
                        </form>
                        </br>
                        <div class="x_title">
                            <h2>Leave Balances
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="maintable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Leave Balance ID</th>
                                    <th>Leave Type</th>
                                    <th>Balance</th>
                                    <th>Expired Date</th>
                                    <th>Removal Date</th>
                                    <th>Expired</th>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>Project</th>
                                    <th>Group Payroll</th>
                                    <th>Group Company</th>
                                    <th>Client</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="leaveBalance : ${generalResponse.object}">
                                    <td><span th:text="${leaveBalance.leaveBalanceId}"> Leave Balance ID </span></td>
                                    <td><span th:text="${leaveBalance.leaveType.leaveName}"> Leave Type </span></td>
                                    <td><span th:text="${leaveBalance.balance}"> Balance </span></td>
                                    <td><span th:text="${#dates.format(leaveBalance.expiredDate, 'dd-MM-yyyy')}"> Expired Date </span></td>
                                    <td><span th:text="${#dates.format(leaveBalance.createdDate, 'dd-MM-yyyy')}"> Removal Date </span></td>
                                    <td><span th:text="${leaveBalance.expired}"> Status </span></td>
                                    <td><span th:text="${leaveBalance.employee.employeeId}"> Employee ID </span></td>
                                    <td><span th:text="${leaveBalance.employee.employeeName}"> Employee Name </span></td>
                                    <td><span th:text="${leaveBalance.employee.project}"> Project </span></td>
                                    <td><span th:text="${leaveBalance.employee.groupPayroll.groupName}"> Group Payroll </span></td>
                                    <td><span th:text="${leaveBalance.employee.groupPayroll.project.groupCompany}"> Group Company </span></td>
                                    <td><span th:text="${leaveBalance.employee.groupPayroll.project.client.clientName}"> Client </span></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_history.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="../vendors/moment/min/moment.min.js"></script>
        <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>

    </div>
</div>
</body>
</html>
