<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="images/favicon.ico" rel="icon" type="image/ico"/>

    <title>Leave Module</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>

        <!-- top navigation -->
        <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"
                          style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;"><i
                            class="fa fa-user"></i> Total Projects (Active)</span>
                    <div class="count" th:text="${generalResponse.object.totalProjectsActive}">0</div>
                    <!--        <span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"
                          style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;"><i
                            class="fa fa-clock-o"></i> Total Leave Balance Active (Days)</span>
                    <div class="count" th:text="${generalResponse.object.totalLeaveBalancesActive}">0</div>
                    <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"
                          style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;"><i
                            class="fa fa-user"></i> Total Leave Balance Used (Days)</span>
                    <div class="count green" th:text="${generalResponse.object.totalLeaveRequests}">0</div>
                    <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"
                          style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;"><i
                            class="fa fa-user"></i> Total Personnel Active</span>
                    <div class="count" th:text="${generalResponse.object.totalPersonnelActive}">0</div>
                    <!--        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"
                          style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;"><i
                            class="fa fa-user"></i> Total Personnel on-Leave</span>
                    <div class="count" th:text="${generalResponse.object.totalPersonnelOnLeave}">0</div>
                    <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"
                          style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;"><i
                            class="fa fa-user"></i> Total Personnel with Negative Balance</span>
                    <div class="count" th:text="${generalResponse.object.totalPersonnelNegativeBalance}">0</div>
                    <!--                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
                </div>
            </div>
            <!-- /top tiles -->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">
                        <div class="row x_title">
                            <div class="col-md-6">
                                <h3>Leave Request Activities</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right" id="reportrangechart"
                                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <b class="caret"></b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 panel panel-default">
                            <br>
                            <form class="form-horizontal form-label-left input_mask" id="chartForm">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input class="form-control" id="employeeId" name="employeeId"
                                           placeholder="Employee Id"
                                           type="text">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input class="form-control" id="projectCode" name="projectCode"
                                           placeholder="Project Code"
                                           type="text">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input class="form-control" id="departmentName"
                                           name="departmentName"
                                           placeholder="DepartmentName" type="text">
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button class="btn btn-success btn-lg btn-block" id="btnFilterChartSubmit" type="button">Update</button>
                                        <br>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--LINE CHART BEGIN-->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <canvas height="150px" id="myChart" width="500px"></canvas>
                                </div>
                            </div>
                        </div>
                        <!--LINE CHART END-->
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h3>Upload Leave Balance</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="alert alert-danger alert-dismissible">
                                <strong>Warning!</strong> Uploading leave balance will replace all current leave
                                balance data!
                                <button class="close" data-dismiss="alert" type="button">&times;</button>
                            </div>

                            <form class="form-horizontal form-label-left input_mask" enctype="multipart/form-data"
                                  id="formLeaveBalanceUpload">
                                <span>
                                    <input style="display: inline;" class="btn btn-info btn-lg" id="multipartFile" name="multipartFile" type="file">
                                    <input style="display: inline;" class="btn btn-success btn-lg" id="btnLeaveBalanceUpload" type="button" value="Upload"/>
                                </span>
                                <div class="form-group">
                                    <div hidden="hidden" id="errorMessageContainerLeaveBalanceUpload">
                                        <div id="errorMessageLeaveBalanceUpload"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- CHART.JS -->
<script src="../build/js/Chart.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js"></script>
<script src="../vendors/Flot/jquery.flot.pie.js"></script>
<script src="../vendors/Flot/jquery.flot.time.js"></script>
<script src="../vendors/Flot/jquery.flot.stack.js"></script>
<script src="../vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="../vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="../vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Custom Index Scripts -->
<script src="../build/js/customIndex.js"></script>
<!-- Chart -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: /*[[${chartData}]]*/
    });
    /*]]>*/
</script>
</body>
</html>
