<!--START CONTENT FOR EMPLOYEE BALANCE-->
<div class="x_content" th:fragment="employeeBalanceTable">
    <table th:if="${session.generalResponse.object != null}" id="employeeBalanceTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Leave Balance ID</th>
            <th>Leave Type</th>
            <th>Balance</th>
            <th>Created Date</th>
            <th>Expired Date</th>
            <th>Expired</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employeeBalance : ${session.generalResponse.object}">
            <td><span th:text="${employeeBalance.Id}"> Leave Balance Id </span></td>
            <td><span th:text="${employeeBalance.leaveType.leaveName}"> Leave Type </span></td>
            <td><span th:text="${employeeBalance.balance} ?: 'No Balance'"> Balance </span></td>
            <td><span th:text="${#dates.format(employeeBalance.createdDate, 'dd-MM-yyyy')}"> Created Date</span></td>
            <td><span th:text="${#dates.format(employeeBalance.expiredDate, 'dd-MM-yyyy')}"> Expired Date</span></td>
            <td><span th:text="${employeeBalance.leaveType.expired} ? 'EXPIRED' : 'ACTIVE'"> Expired </span></td>
            <td>
                <button type="button" class="btn btn-primary btn-xs"
                        data-toggle="modal" data-target="#createLeaveRequestModal"
                        th:id="${employeeBalance.id}" th:data1="${employeeBalance.leaveType.leaveName}">Request Leave</button>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:if="${session.generalResponse.object == null}" style="margin-left: auto; margin-right: auto;"><h2>No Leave Data, unable to draw Leave Table.</h2></span>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#employeeBalanceTable').DataTable( {
                "columnDefs": [
                    { "searchable": false, "targets": 5}
                ],
                orderCellsTop: true,
                autoWidth: true

            } );
        } );
    </script>
</div>

<!--START LEAVE REQUEST FORM MODAL  -->
<!--
<form id="formCreateLeaveRequest" class="form-horizontal form-label-left" th:fragment="formCreateLeaveRequest">

    &lt;!&ndash; Balance &ndash;&gt;
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeBalance">Employee Balance <span class="required">*</span>
        </label>
        <div class="col-md-5 col-sm-5 col-xs-10">
            <div class="input-group">
                <input type="text" id="employeeBalance" name="balance" required="required" class="form-control col-md-7 col-xs-12" />
            </div>

        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div id="errorMessageCreateLeaveRequestContainer" hidden="hidden">
            <div id="errorMessageCreateLeaveRequest"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button id="btnDeductBalance" class="btn btn-success"> Deduct </button>
            <button id="btnAddBalance" class="btn btn-success"> Add </button>
        </div>
    </div>

</form>
-->
