<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leave Type | Manage</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
    </div>

        <!-- top navigation -->
        <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
        </div>
        <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Leave Type</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Manage Leave Types</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="maintable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Balance</th>
                                    <th>Gender</th>
                                    <th>Paid Status</th>
                                    <th>Expiry Date</th>
                                    <th>Active Status</th>
                                    <th>Expired Status</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="leaveType : ${generalResponse.object}">
                                    <td><span th:text="${leaveType.leaveCode}"> Code </span></td>
                                    <td><span th:text="${leaveType.leaveName}"> Name </span></td>
                                    <td><span th:text="${leaveType.defaultBalance}"> Balance </span></td>
                                    <td><span th:text="${leaveType.gender}"> Gender </span></td>
                                    <td><span th:text="${leaveType.paidStatus}"> Paid Status </span>
                                    <td><span th:text="${#dates.format(leaveType.expiredDate, 'dd-MM-yyyy')}"> Expiry Date </span></td>
                                    <td><span th:text="${leaveType.active}  ? 'ACTIVE' : 'INACTIVE'"> Active Status </span></td>
                                    <td><span th:text="${leaveType.expired}  ? 'EXPIRED' : 'ACTIVE'"> Expired Status </span></td>
                                    <td>
                                        <form action="/leavetype_manage_edit" method="GET">
                                            <input type="hidden" id="leaveTypeId" name="id" th:value="${leaveType.id}"/>
                                            <button type="submit" class="btn btn-primary btn-xs">Edit
                                            </button>
                                        </form>

                                        <!--<button type="button" class="btn btn-primary btn-xs"
                                                data-toggle="modal" data-target="#deleteModalLeaveType"
                                                th:id="${leaveType.id}">Delete</button>-->
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- START OF MODAL -->
                <!--<div id="editModalLeaveType" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        &lt;!&ndash; Modal content&ndash;&gt;
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit</h4>
                            </div>
                            <div class="x_content">
                                <br/>
                                <div class="modal-body">
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="deleteModalLeaveType" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        &lt;!&ndash; Modal content&ndash;&gt;
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete</h4>
                            </div>
                            <div class="x_content">
                                <br/>
                                <div class="modal-body">
                                    <form id="formDeleteLeaveType" class="form-horizontal form-label-left">
                                        <div class="container">
                                            <div class="x_panel row" style="background-color: #F7F7F7;">
                                                <div class="col-sm-6 col-xs-6">
                                                    <div class="x_title">
                                                        <h2>Delete This Leave Type?</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="leaveTypeId" name="id" required="required"
                                                               class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        <div>
                                            <div id="errorMessageDeleteLeaveTypeContainer" hidden="hidden">
                                                <div id="errorMessageDeleteLeaveType"></div>
                                            </div>
                                            <button id="btnDeleteLeaveTypeSubmit" class="btn btn-success">
                                                <span class="glyphicon glyphicon-send"></span> Delete
                                            </button>
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>
                                        </div>
                                                </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- jQuery -->
        <script src="../js/form/leavetype_ajax_loader.js"></script>
        <!-- Misc Script -->
        <script src="../js/form/leavetype_msc.js"></script>
        <!-- jQuery -->
        <script src="../js/form/leavetype_form.js"></script>
        <!--Masker-->
        <script src="../vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_leavetype.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>

    </div></div></body>
</html>
