<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leave Request | Manage</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Leave Requests
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <form id="leaveRequestQuery" class="form-horizontal form-label-left">
                            <div style="background-color: #F7F7F7;">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>Search...</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <input type="hidden" name="projectCode"/>
                                    <input type="hidden" name="projectName"/>
                                    <input type="hidden" name="clientName"/>
                                    <input type="hidden" name="clientCode"/>
                                    <input type="hidden" name="groupCompany"/>
                                    <!-- employeeId-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeIdQuery" name="employeeId"
                                                   class="form-control" placeholder="Employee ID"/>
                                        </div>
                                    </div>
                                    <!-- employeeName-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeNameQuery" name="employeeName"
                                                   class="form-control" placeholder="Employee Name"/>
                                        </div>
                                    </div>
                                    <!-- leaveName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="leaveNameList" type="text" id="leaveNameQuery" name="leaveName"
                                                   class="form-control" autocomplete="off" placeholder="Leave Name"/>
                                            <datalist id="leaveNameList">
                                                <option th:each="leaveName : ${leaveTypeList.object}" th:value="${leaveName.leaveName}" th:label="${leaveName.leaveName}">
                                            </datalist>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>.</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- requestDate -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="requestDateQuery" name="createdDate"
                                                   class="form-control" placeholder="Request Date"/>
                                        </div>
                                    </div>
                                    <!-- dateFrom -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateFromQuery" name="dateFrom"
                                                   class="form-control" placeholder="Date From"/>
                                        </div>
                                    </div>
                                    <!-- requestDate -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateToQuery" name="dateTo"
                                                   class="form-control" placeholder="Date To"/>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                    <div class="checkbox">
                                        <input id="toggle-show-inactive" type="checkbox" checked data-toggle="toggle" data-size="mini" data-on="Hide Cancelled<br>Requests" data-off="Show Cancelled<br>Requests" data-onstyle="success" data-offstyle="danger">
                                    </div>
                                </div>
                            </div>
                        </form>
                        </br>
                        <div class="x_title">
                            <h2>Manage
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table id="maintable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Leave Name</th>
                                    <th>Request Date</th>
                                    <th>Reason</th>
                                    <th>Amount</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="leaveRequest : ${generalResponse.object}">
                                    <td><span th:text="${leaveRequest.leaveBalance.employee.employeeName}"> Employee Name </span></td>
                                    <td><span th:text="${leaveRequest.leaveBalance.leaveType.leaveName}"> Leave Name </span></td>
                                    <td><span th:text="${#dates.format(leaveRequest.createdDate, 'dd-MM-yyyy')}"> Request Date </span></td>
                                    <td><span th:text="${leaveRequest.reason}"> Reason </span></td>
                                    <td><span th:text="${leaveRequest.amount}"> Amount </span></td>
                                    <td><span th:text="${#dates.format(leaveRequest.dateFrom, 'dd-MM-yyyy')}"> From </span></td>
                                    <td><span th:text="${#dates.format(leaveRequest.dateTo, 'dd-MM-yyyy')}"> To </span></td>
                                    <td><span th:text="${leaveRequest.status}"> Status </span></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#detailModal"
                                                th:id="${leaveRequest.id}">Details</button>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#deleteModal"
                                                th:id="${leaveRequest.id}">Cancel</button>

                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- START OF MODAL -->
                <div id="detailModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                            </div>
                            <div class="x_content">
                                <br/>
                                <div class="modal-body">
                                    <form id="detailLeaveRequestForm" class="form-horizontal form-label-left">
                                        <div class="container">
                                            <div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <div class="form-group">
                                                        <label class="control-label" for="id">Leave Request Id

                                                        </label>
                                                        <div>
                                                            <input type="text" id="id" name="id" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="createdDate">Request Date

                                                        </label>
                                                        <div>
                                                            <input type="text" id="createdDate" name="createdDate" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="leaveBalance">Current Balance

                                                        </label>
                                                        <div>
                                                            <input type="text" id="leaveBalance" name="leaveBalance" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="employeeName">Employee

                                                        </label>
                                                        <div>
                                                            <input type="text" id="employeeName" name="employeeName" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="amount">Amount

                                                        </label>
                                                        <div>
                                                            <input type="text" id="amount" name="amount" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="balanceBefore">Balance Before

                                                        </label>
                                                        <div>
                                                            <input type="text" id="balanceBefore" name="balanceBefore" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="balanceAfter">Balance After

                                                        </label>
                                                        <div>
                                                            <input type="text" id="balanceAfter" name="balanceAfter" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="dateFrom">From

                                                        </label>
                                                        <div>
                                                            <input type="text" id="dateFrom" name="dateFrom" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="dateTo">To

                                                        </label>
                                                        <div>
                                                            <input type="text" id="dateTo" name="dateTo" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="status">Status

                                                        </label>
                                                        <div>
                                                            <input type="text" id="status" name="status" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="remarks">Remarks

                                                        </label>
                                                        <div>
                                                            <input type="text" id="remarks" name="remarks" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label" for="reason">Reason

                                                        </label>
                                                        <div>
                                                            <input type="text" id="reason" name="reason" required="required"
                                                                   class="form-control" readonly/>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deleteModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Cancel This Leave Request?</h4>
                            </div>
                            <div class="x_content">
                                <div class="modal-body">
                                    <form id="formDeleteLeaveRequest" class="form-horizontal form-label-left">
                                        <div class="container">
                                            <!-- leaveRequestId-->
                                            <div class="form-group">
                                                <label class="control-label">Leave Request ID
                                                    <span class="required">*</span>
                                                </label>
                                                <div>
                                                    <input readonly id="leaveRequestId" name="id" required="required"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <!-- leaveEndDate-->
                                            <div class="form-group">
                                                <label class="control-label">End Date
                                                    <span class="required">*</span>
                                                </label>
                                                <div>
                                                    <input type="date" id="leaveEndDate" name="leaveEndDate" required="required"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                            <!-- returnBalance-->
                                            <div class="form-group">
                                                <label class="control-label">Return Balance
                                                    <span class="required">*</span>
                                                </label>
                                                <div>
                                                    <select name="returnBalanceOption" class="form-control">
                                                        <option value="0">None</option>
                                                        <option value="1" selected>Full Balance</option>
                                                        <option value="2">Remaining Balance</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <div id="errorMessageDeleteLeaveRequestContainer" hidden="hidden">
                                                    <div id="errorMessageDeleteLeaveRequest"></div>
                                                </div>
                                                <button id="btnDeleteLeaveTypeSubmit" class="btn btn-success">
                                                    <span class="glyphicon glyphicon-send"></span> Cancel Leave
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_initiate.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="../vendors/moment/min/moment.min.js"></script>
        <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="../vendors/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>
        <script src="../js/form/leave_request_ajax_loader.js"></script>

    </div>
</div>
</body>
</html>
