<!--SIDE NAV-->
<div th:fragment="navbar_fragment">
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a class="site_title" href="/index">
            <!--<i class="fa fa-paw"></i>-->
            <span style="font-size: large;">Abhitech</span>
        </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">

        <!--<div class="profile_pic">
            <img alt="..." class="img-circle profile_img" src="../images/img.jpg">
        </div>-->
        <div class="profile_info">
            <span style="font-size: large; color: gainsboro;">Welcome </span>
            <h2 style="font-size: medium;" th:text="${#strings.toUpperCase(session.USER.username)}">John Doe</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <br/>
    <!-- sidebar menu -->
    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="/"><i class="fa fa-home"></i> Home </a></li>
                <li><a href="/admin_create"><i class="fa fa-user-secret"></i> Create Admin </a></li>
                <li><a><i class="fa fa-users"></i> Employee<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/employee_manage">Manage</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-tasks"></i> Leave Type <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/leave_type_create">Create</a></li>
                        <li><a href="/leave_type_manage">Manage</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-comments"></i> Leave Request <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/leave_request_create">Create</a></li>
                        <li><a href="/leave_request_manage">Manage</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-thumb-tack"></i>Project<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/bind_group_payroll">Bind Group Payroll</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-exclamation"></i> Report <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu"></li>
                        <li><a href="/report_leave_schedule">Leave Schedule</a></li>
                        <li><a href="/report_leave_balance">Leave Balances</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-history"></i> History <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/history_activity">Activity</a></li>
                        <li><a href="/history_leave_request">Leave Requests</a></li>
                        <li><a href="/history_leave_balance">Leave Balances</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->

</div>
</div>

<!--TOP NAV-->
<div th:fragment="topnavbar_fragment">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a id="serverTime" aria-expanded="false"></a>
                </li>
                <li class="">
                    <a aria-expanded="false" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       href="javascript:">
                        <span th:text="${#strings.toUpperCase(session.USER.username)}">John Doe</span>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log
                            Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!--SERVERTIME DISPLAY-->
    <script language="JavaScript">
        var xmlHttp
        function srvTime(){
            try {
                //FF, Opera, Safari, Chrome
                xmlHttp = new XMLHttpRequest();
            }
            catch (err1) {
                //IE
                try {
                    xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
                }
                catch (err2) {
                    try {
                        xmlHttp = new ActiveXObject('Microsoft.XMLHTTP');
                    }
                    catch (eerr3) {
                        //AJAX not supported, use CPU time.
                        alert("AJAX not supported");
                    }
                }
            }
            xmlHttp.open('HEAD','/serverTime',false);
            xmlHttp.setRequestHeader("Content-Type", "text/html");
            xmlHttp.send('');
            return xmlHttp.getResponseHeader("Date");
        }
    </script>
    <script language="javascript">
        var st = srvTime();
        setInterval(function() {
            var date = new Date(st);
            date.setSeconds(date.getSeconds()+1);
            var serverNow = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            document.getElementById('serverTime').innerHTML = "Server Time: " + serverNow + " GMT + 7";
            st = date;
        }, 1000);
    </script>
</div>

