<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Reporting | Leave Balance Report</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Reporting
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <form id="employeeQuery" class="form-horizontal form-label-left">
                            <div style="background-color: #F7F7F7;">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>Search...</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- employeeId-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeIdQuery" name="employeeId"
                                                   class="form-control" placeholder="Employee ID"/>
                                        </div>
                                    </div>
                                    <!-- employeeName-->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" id="employeeNameQuery" name="employeeName"
                                                   class="form-control" placeholder="Employee Name"/>
                                        </div>
                                    </div>
                                    <!-- projectCode-->
                                    <div class="form-group">
                                        <div>
                                            <input list="projectCodeList" type="text" id="projectCodeQuery" name="projectCode"
                                                   class="form-control" autocomplete="off" placeholder="Project Code"/>
                                            <datalist id="projectCodeList">
                                                <option th:each="project : ${projectList.object}" th:value="${project.projectCode}" th:label="${project.projectCode}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- projectName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="projectNameList" type="text" id="projectNameQuery" name="projectName"
                                                   class="form-control" autocomplete="off" placeholder="Project Name"/>
                                            <datalist id="projectNameList">
                                                <option th:each="project : ${projectList.object}" th:value="${project.projectName}" th:label="${project.projectName}">
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>.</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- clientName-->
                                    <div class="form-group">
                                        <div>
                                            <input list="clientNameList" type="text" id="clientNameQuery" name="clientName"
                                                   class="form-control" autocomplete="off" placeholder="Client Name"/>
                                            <datalist id="clientNameList">
                                                <option th:each="client : ${clientList.object}" th:value="${client.clientName}" th:label="${client.clientName}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- clientCode-->
                                    <div class="form-group">
                                        <div>
                                            <input list="clientCodeList" type="text" id="clientCodeQuery" name="clientCode"
                                                   class="form-control" autocomplete="off" placeholder="Client Code"/>
                                            <datalist id="clientCodeList">
                                                <option th:each="client : ${clientList.object}" th:value="${client.clientCode}" th:label="${client.clientCode}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- groupCompany-->
                                    <div class="form-group">
                                        <div>
                                            <input list="groupCompanyList" type="text" id="groupCompanyQuery" name="groupCompany"
                                                   class="form-control" autocomplete="off" placeholder="Group Company"/>
                                            <datalist id="groupCompanyList">
                                                <option th:each="company : ${groupCompanyList.object}" th:value="${company}" th:label="${company}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                    <div class="checkbox">
                                        <input id="toggle-show-inactive" type="checkbox" checked data-toggle="toggle" data-on="Hide In-active" data-off="Show In-active" data-onstyle="success" data-offstyle="danger">
                                    </div>
                                </div>
                            </div>
                        </form>
                        </br>
                        <div class="x_title">
                            <h2>Leave Balance Report
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-bordered" id="maintable">
                                <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>Project</th>
                                    <th>Group Payroll</th>
                                    <th>Group Company</th>
                                    <th>Client</th>
                                    <th>Department</th>
                                    <th>Position</th>
                                    <th>Contract Start Date</th>
                                    <th>Contract End Date</th>
                                    <th>Employee Status</th>
                                    <th>Enrolled</th>
                                    <th>Leave Type</th>
                                    <th>Leave Balance</th>
                                    <th>Created Date</th>
                                    <th>Entitlement</th>
                                    <th>Expired Date</th>
                                    <th>Balance Status</th>
                                    <th>Used Balance</th>
                                    <th>Remaining Balance</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="rb : ${generalResponse.object}">
                                    <td><span th:text="${rb.employeeId}"></span></td>
                                    <td><span th:text="${rb.employeeName}"></span></td>
                                    <td><span th:text="${rb.projectName}"></span></td>
                                    <td><span th:text="${rb.groupPayrollName}"></span></td>
                                    <td><span th:text="${rb.groupCompany}"></span></td>
                                    <td><span th:text="${rb.client}"></span></td>
                                    <td><span th:text="${rb.department}"></span></td>
                                    <td><span th:text="${rb.jobTitle}"></span></td>
                                    <td><span th:text="${#dates.format(rb.contractStartDate, 'dd-MM-yyyy')} ?: 'No Data'"> Contract Start Date </span></td>
                                    <td><span th:text="${#dates.format(rb.contractEndDate, 'dd-MM-yyyy')} ?: 'No Data'"> Contract End Date </span></td>
                                    <td><span th:text="${rb.isActive}"></span></td>
                                    <td><span th:text="${#dates.format(rb.enrolledDate, 'dd-MM-yyyy')}"></span></td>
                                    <td><span th:text="${rb.leaveTypeName}"></span></td>
                                    <td><span th:text="${rb.leaveBalanceId}"></span></td>
                                    <td><span
                                            th:text="${#dates.format(rb.leaveBalanceCreatedDate, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td><span th:text="${rb.defaultLeaveBalance}"></span></td>
                                    <td><span
                                            th:text="${#dates.format(rb.leaveBalanceExpiredDate, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td><span th:text="${rb.leaveBalanceStatus}"></span></td>
                                    <td><span th:text="${rb.leaveBalanceUsed}"></span></td>
                                    <td><span th:text="${rb.leaveBalanceRemaining}"></span></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../vendors/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_history.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="../vendors/moment/min/moment.min.js"></script>
        <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>
        <script src="../js/form/leave_balance_report.js"></script>

    </div>
</div>
</body>
</html>
