<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Reporting | Leave Schedule Report</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:insert="navbar_fragment :: navbar_fragment">
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav" th:insert="navbar_fragment :: topnavbar_fragment">
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Reporting
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-groupPayroll pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <form id="leaveScheduleReportQuery" class="form-horizontal form-label-left">
                            <div style="background-color: #F7F7F7;">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>Search...</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- leaveType-->
                                    <div class="form-group">
                                        <div>
                                            <input list="leaveTypeList" type="text" id="leaveTypeQuery" name="leaveName"
                                                   class="form-control" autocomplete="off" placeholder="Leave Type Name"/>
                                            <datalist id="leaveTypeList">
                                                <option th:each="leaveType : ${leaveTypeList.object}" th:value="${leaveType.leaveName}" th:label="${leaveType.leaveName}">
                                            </datalist>
                                        </div>
                                    </div>
                                    <!-- startDate -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="startDateQuery" name="startDate"
                                                   class="form-control" placeholder="Start Date"/>
                                        </div>
                                    </div>
                                    <!-- endDate -->
                                    <div class="form-group">
                                        <div>
                                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="endDateQuery" name="endDate"
                                                   class="form-control" placeholder="End Date"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-6">
                                    <div class="x_title">
                                        <h2>.</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                </div>
                            </div>
                        </form>
                        </br>
                        <div class="x_title">
                            <h2>Leave Schedule Report
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-bordered" id="maintable">
                                <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>Project</th>
                                    <th>Group Payroll</th>
                                    <th>Group Company</th>
                                    <th>Client</th>
                                    <th>Department</th>
                                    <th>Position</th>
                                    <th>Contract Start Date</th>
                                    <th>Contract End Date</th>
                                    <th>Employee Status</th>
                                    <th>Leave Type</th>
                                    <th>Leave Balance ID</th>
                                    <th>Leave Balance Created</th>
                                    <th>Leave Request Created</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Duration</th>
                                    <th>Reason</th>
                                    <th>Remaining Balance</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="rs : ${generalResponse.object}">
                                    <td><span th:text="${rs.employeeId}"></span></td>
                                    <td><span th:text="${rs.employeeName}"></span></td>
                                    <td><span th:text="${rs.projectName}"></span></td>
                                    <td><span th:text="${rs.groupPayrollName}"></span></td>
                                    <td><span th:text="${rs.groupCompany}"></span></td>
                                    <td><span th:text="${rs.client}"></span></td>
                                    <td><span th:text="${rs.department}"></span></td>
                                    <td><span th:text="${rs.jobTitle}"></span></td>
                                    <td><span th:text="${#dates.format(rs.contractStartDate, 'dd-MM-yyyy')} ?: 'No Data'"> Contract Start Date </span></td>
                                    <td><span th:text="${#dates.format(rs.contractEndDate, 'dd-MM-yyyy')} ?: 'No Data'"> Contract End Date </span></td>
                                    <td><span th:text="${rs.isActive}"></span></td>
                                    <td><span th:text="${rs.leaveTypeName}">Employee Status</span></td>
                                    <td><span th:text="${rs.leaveBalanceId}"></span></td>
                                    <td><span
                                            th:text="${#dates.format(rs.leaveBalanceCreatedDate, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td><span
                                            th:text="${#dates.format(rs.leaveRequestCreatedDate, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td><span
                                            th:text="${#dates.format(rs.startDate, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td><span
                                            th:text="${#dates.format(rs.endDate, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td><span th:text="${rs.duration}"></span></td>
                                    <td><span th:text="${rs.reason}"></span></td>
                                    <td><span th:text="${rs.remainingBalance}"></span></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="../js/datatables/datatables_history.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="../vendors/moment/min/moment.min.js"></script>
        <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>

    </div>
</div>
</body>
</html>
