
<!--START CONTENT FOR EMPLOYEE BALANCE-->
<table id="datatableBalance" class="table table-striped table-bordered"  th:fragment="datatableBalance">
    <thead>
    <tr>
        <th>Leave Type</th>
        <th>Balance</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="datatableBalanceBody">
    <tr th:each="employeeBalance : ${session.generalResponse.object}">
        <td><span th:if="${employeeBalance.leaveType}" th:text="${employeeBalance.leaveType.leaveName}"> Leave Type </span></td>
        <td><span th:if="${employeeBalance.balance}" th:text="${employeeBalance.balance}"> Balance </span></td>
        <td>
            <button type="button" class="btn btn-primary btn-xs"
                    th:onclick="'javascript:editBalance(\'' + '111' +'\');'">Edit</button>

        </td>
    </tr>
    </tbody>
</table>

<!--START CONTENT Leave Create Request Form-->
<!-- Leave Request Form -->

<div th:fragment="leaveRequestForm">
    <table id="datatableBalanceNoEdit" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Leave Type</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody id="datatableBalanceBodyNoEdit">
        <tr th:each="employeeBalance : ${session.generalResponse.object}">
            <td><span th:if="${employeeBalance.leaveType}" th:text="${employeeBalance.leaveType.leaveName}"> Leave Type </span></td>
            <td><span th:if="${employeeBalance.balance}" th:text="${employeeBalance.balance}"> Balance </span></td>
        </tr>
        </tbody>
    </table>
</div>
<!--START BALANCE UPDATE MODAL-->
<form id="formUpdateEmployeeBalance" class="form-horizontal form-label-left" th:fragment="formUpdateBalance">

    <!-- Balance -->
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeBalance">Balance <span class="required">*</span>
        </label>
        <div class="col-md-5 col-sm-5 col-xs-10">
            <div class="input-group">
                <span class="input-group-btn"><button type="button" class="btn btn-primary modifier" data-toggle="" data-target=""> - </button></span>
                <input type="text" id="employeeBalance" name="balance" required="required" class="form-control col-md-7 col-xs-12" />
                <span class="input-group-btn"><button type="button" class="btn btn-primary modifier" data-toggle="" data-target=""> + </button></span>
            </div>

        </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div id="errorMessageGroupPayrollContainer" hidden="hidden">
            <div id="errorMessageGroupPayroll"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button id="btnDeductBalance" class="btn btn-success"> Deduct </button>
            <button id="btnAddBalance" class="btn btn-success"> Add </button>
        </div>
    </div>

</form>

<!--GROUP PAYROLL PAGE-->
<!--CONTENT FOR LEAVETYPE TABLE-->
<!--IDs-->
<div th:fragment="leaveTypesTable">
    <div class="form-group">
        <input readonly="readonly" type="text" id="leaveTypeIds" name="leaveTypeIds" required="required" class="form-control col-md-7 col-xs-12"/>
    </div>

    <table id="leaveTypesTable" class="table table-striped table-bordered" >
        <thead>
        <tr>
            <th>Select</th>
            <th>Id</th>
            <th>Leave Name</th>
            <th>Default Balance</th>

        </tr>
        </thead>
        <tbody id="leaveTypesTableBody">
        <tr th:each="leaveType : ${session.generalResponse.object.leaveTypes}">
            <td><input type='checkbox' name='record'></td>
            <td><span class="leaveTypeClass" th:text="${leaveType.id}"> Id </span></td>
            <td><span th:text="${leaveType.leaveName}"> Leave Type </span></td>
            <td><span th:text="${leaveType.defaultBalance}"> Default Balance </span></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#leaveTypesTable > tbody >tr').each(function () {

                var currentRowHTML = $(this).find(".leaveTypeClass").html();
                var input = $("#leaveTypeIds");
                input.val(input.val() + currentRowHTML + ", ");

                $('#leaveTypesAddTable > tbody > tr').each(function () {
                    if ($(this).find(".leaveTypeClass").html() === currentRowHTML) {
                        $(this).hide();
                    }
                });
            });
        })
    </script>
</div>

<!--CONTENT FOR LEAVETYPE DROPDOWN-->
<div class="form-group" th:fragment="leaveTypeDropdown">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Leave Type <span
            class="required">*</span></label>
    <div class="col-md-3 col-sm-3 col-xs-5">
        <select class="form-control col-md-7 col-xs-12" name="leaveType">
            <option value="0">Select Leave Type</option>
            <option th:each="leaveType : ${session.generalResponse.object}" th:value="${leaveType.id}" th:text="${leaveType.leaveName}"></option>
        </select>
    </div>
</div>

